body {
    max-width: 1366px; min-width: 966px; /* why I'm using percentages next time ... */
    background-color: white;
    font-family: Arial, sans-serif; font-size: small;
}

#header {width: 100%; height: 100px;  top: 0; left: 0;}

#app {
    display: inline-block; width: 30px; height: 30px; margin: 0 3px 0 18px;
    background-image: url(images/sprites.png); background-repeat: no-repeat;
    background-position: -101px -62px; /* locate icon on sprites.png */
    opacity: 0.55;
}
#app:hover {opacity: 1}

.nav {width: 250px; margin: 23px 22px 20px 80%;}
.nav a {
    text-decoration: none; color: #282828;
    margin-left: 10px;
}
.nav a:hover {text-decoration: underline; color: black;}

#sign-in {
    background-color: #207AF8; color: white;
    font-weight: bold;
    padding: 7.5px 13px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#sign-in:hover {
    text-decoration: none;
    box-shadow: 0 2.5px 2px -2px grey;
    -moz-box-shadow: 0 2.5px 2px -2px grey;
    -webkit-box-shadow: 0 2.5px 2px -2px grey;
}

#google-logo {padding-left: 539px}

input {
    width: 584px; height: 38px;
    border: 1px solid #E8E8E8;
    font-size: 20px; color: black;
}
input:hover {border: 2px 1px solid black}
input:focus {
    border: 0.3px 1px solid #F7F7F7;
    outline: 1px solid #7FAEEF;
}

.search-button {
    text-decoration: none; font-weight: bold;
    color: grey; background: #F2F2F2;
    margin: 0 2px 0 2px; padding: 1.2% 2%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.search-button:hover {
    margin: 0 1px 0 1px; border: 0.2px solid #C4C4C4;
    background-color: #F7F7F7; color: #282828;
}

#footer {
    position: fixed; bottom: 0; margin: 0;
    height: 20px; width: 100%;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    border-top: 1px solid #E8E8E8;
}
#footer a {
    text-decoration: none; color: gray;
    padding-right: 20px;
}
#footer a:hover {text-decoration: underline; text-decoration-color: gray;}

#left {display: inline-block; margin: 12px 0 30px 32px;}

#right {display: inline-block; margin: 12px 0 0 760px;}
